Source: erlang-rtsp
Priority: extra
Maintainer: Max Lapshin <max@maxidoors.ru>
Build-Depends: debhelper (>= 7), erlang-nox (>= 1:13) |erlang (>= 1:13), erlang-dev, erlang-rtp, erlmedia (>= 1.6.1)
Standards-Version: 3.8.3
Section: net
Homepage: http://erlyvideo.org/

Package: erlang-rtsp
Section: net
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, erlmedia (>= 1.6.1), erlang-nox (>= 1:13) | erlang (>= 1:13), erlang-rtp
Description: Erlang media library
 Erlang library that handles some of common formats
