*.beam
*~
erl_crash.dump
mnesia-data
*.DS_Store
Mnesia.*
plugins
*.log
*.cookie
log
movies
*~

# XCode noise
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
build-stamp
configure-stamp
rebar.config
tmp

# Tarballs directory
tarballs
