[submodule "deps/rtmp-0.9"]
	path = deps/rtmp-0.9
	url = git://github.com/erlyvideo/erlang-rtmp
[submodule "deps/log4erl-0.8.6"]
	path = deps/log4erl-0.8.6
	url = git://github.com/erlyvideo/log4erl
[submodule "deps/amf-1.0.1"]
	path = deps/amf-1.0.1
	url = git://github.com/erlyvideo/erlang-amf
