{sys, [
       {lib_dirs, ["apps"]},
       {rel, "erlyvideo", "1",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         erlyvideo
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "erlyvideo"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "erlyvideo"}.

{overlay, [
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/erlyvideo", "bin/erlyvideo"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"},
           {copy, "wwwroot"},
           {copy, "priv/erlyvideo.conf.sample", "etc/erlyvideo.conf.sample"},
           {copy, "priv/log4erl.conf.sample", "etc/log4erl.conf.sample"},

           {copy, "contrib/reverse_mpegts", "bin/reverse_mpegts"},
           {replace, "bin/reverse_mpegts", "/usr/bin/env escript", "{{erts_vsn}}/bin/escript"},

           {copy, "contrib/rtmp_bench", "bin/rtmp_bench"},
           {replace, "bin/rtmp_bench", "/usr/bin/env escript", "{{erts_vsn}}/bin/escript"},

           {copy, "contrib/rtmp_proxy", "bin/rtmp_proxy"},
           {replace, "bin/rtmp_proxy", "/usr/bin/env escript", "{{erts_vsn}}/bin/escript"},

           {copy, "contrib/rtsp_test_client", "bin/rtsp_test_client"},
           {replace, "bin/rtsp_test_client", "/usr/bin/env escript", "{{erts_vsn}}/bin/escript"},

           {copy, "contrib/erlyvideo", "bin/erlyvideo-initscript"}
           ]}.
