{rtmp_port, 1935}.
{rtsp_port, 8081}.
{http_port, 8082}.
{modules,[]}.
{vhosts, [
  {default, [
    {hostname, ["localhost"]},
    {modules, [trusted_login, apps_push, apps_streaming, apps_recording, apps_shared_objects]},
    {secret_key, "123"},
    {access_log, {"log", "access", {size, 1000000}, 10, "log", info}},
    {error_log, {"log", "error", {size, 1000000}, 10, "log", info}},
    {file_dir, "movies"},
    {wwwroot, "wwwroot"},
    {rewrite, [
      {"stream/vlc.ts", mpegts, "http://localhost:8080", [{timeshift, 60000}]}
    ]}
  ]},
  {production, [
    {hostname, ["production.local"]},
    {modules, [trusted_login, apps_push, apps_streaming, apps_recording, apps_rtmp, apps_shared_objects]},
    {access_log, {"log", "production-access", {size, 1000000}, 10, "log", info}},
    {error_log, {"log", "production-error", {size, 1000000}, 10, "log", info}},
    {secret_key, "fddbb018f51cb867a2e6d10b9eea7bd5eaec2d9ee1b814856251776f08e8acdef49154b0317b432ff6dfbd7c7e0e74d5db53287cc991e8cf46da8d6a27fc5ae8"},
    {file_dir, "/tmp"}
  ]}
]}.






