% Turn this on to reduce logging
% cutoff_level = info

%% Default logger
%% it includes a file appender and a console appender
logger{
  console_appender app1{
  	level = all,
  	format = '%L %j %t %l%n'
  }

  file_appender app3{
    dir = "log",
    level = debug,
    file = debug,
    type = size,
    max = 10000000,
    suffix = log,
    rotation = 30,
    format = '%t %l%n'
  }

  file_appender app2{
    dir = "log",
    level = info,
    file = erlyvideo,
    type = size,
    max = 10000000,
    suffix = log,
    rotation = 30,
    format = '%L %j %t %l%n'
  }

  % smtp_appender app3{
  %   level=error,
  %   ip = "localhost",
  %     port = 25,
  %   no_auth = true,
  %   %username = user,
  %   %password = pass,
  %   from = "logger@erlyvideo",
  %   to = "notification@erlyvideo",
  %   title = "Erlyvideo error",
  %   msg = "[%j %t] %L:%n%l%n"
  % }

}

% logger default{
%   console_appender default_app1{
%     level = all,
%     format = '%L %j %t %l%n'
%   }
% 
%   file_appender app2{
%     dir = "log",
%     level = info,
%     file = erlyvideo,
%     type = size,
%     max = 100000,
%     suffix = log,
%     rotation = 5,
%     format = '"%j %t %l%n"'
%   }
% 
%   smtp_appender app3{
%     level=all,
%     ip = "localhost",
%     port = 25,
%     no_auth = true,
%     %username = user,
%     %password = pass,
%     from = "logger@erlyvideo",
%     to = "notification@erlyvideo",
%     title = "Erlyvideo error",
%     msg = "[%j %t] %L:%n%l%n"
%   }
% }
% 
% 
