body { font-family: Verdana, Arial, Helvetica, sans-serif;
       margin-left: .25in;
       margin-right: .2in;
       margin-top: 0.2in;
       margin-bottom: 0.2in;
       color: #000000;
       background-color: #ffffff }
h1,h2 { margin-left: -0.2in }
