Source: log4erl
Priority: extra
Maintainer: Max Lapshin <max@maxidoors.ru>
Build-Depends: debhelper (>= 7), erlang-nox (>= 1:13) | erlang (>= 1:13), erlang-dev
Standards-Version: 3.8.3
Section: net
Homepage: http://log4erl.blogspot.com/

Package: log4erl
Section: net
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, erlang-nox (>= 1:13) | erlang (>= 1:13)
Description: Erlang logger
 Erlang logger
