<html>
  <head>
    <title>Erlyvideo admin</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <!--link rel="stylesheet" href="blueprint/screen.css" type="text/css" media="screen, projection"-->
    <!--link rel="stylesheet" href="blueprint/print.css" type="text/css" media="print"-->
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <script type="text/javascript" src="/js/jquery.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
		calculateSum();
		setTimeout('location.reload()', 60000);
		setTimeout('countDown(58)', 1000);
	});

	function countDown(tick){
		var counter = $("#counter");
		counter.html('00:' + (tick<10? '0' : '') + (tick--));
		setTimeout('countDown('+tick+')', 1000);
	}

	function calculateSum() {

		var sum = 0;
		//iterate through each textboxes and add the values
		$("td.channel").each(function() {
		        var value = $(this).html();
			//add only if the value is number
			if(!isNaN(value) && value.length!=0) {
				sum += parseInt(value);
			}

		});
		//.toFixed() method will roundoff the final sum to 2 decimal places
		$("#sum").html(sum);
	}

    </script>
  </head>
  <body>                                                            <div class="container">
      <div class="span-24 last"><h3><a href="/">Front</a></h3></div>
      
      <div class="span-24 last">
        {% if rtmp_port %}
        <div class="span-5">RTMP port:</div><div class="span-19 last">{{rtmp_port}}</div>
        {% endif %}
        {% if rtsp_port %}
        <div class="span-5">RTSP port:</div><div class="span-19 last">{{rtsp_port}}</div>
        {% endif %}
        {% if http_port %}
        <div class="span-5">HTTP port:</div><div class="span-19 last">{{http_port}}</div>
        {% endif %}
        <table border="0">
          {% for name, client_count in entries %}	
          <tr><td>{{name}} :&nbsp;</td><td class="channel">{{client_count}}</td><td><div style="width:{{clients|length}}px;background-color:#CCCCCF;"/>&nbsp;</td></tr>
          {% endfor %}
	  <tr><td>Sum : &nbsp;</td>
	        <td><span id="sum">0</span></td>
	  </tr>
        </table>
        
      </div>
    </div>

	
      <div class="span-24 last"><span style="color:grey; font-size:smaller;"  id="counter">00:59</span></div>

  </body>
</html>