<html>
  <head>
    <title>Erlyvideo admin</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <link rel="stylesheet" href="blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
  </head>
  <body>
    <script type="text/javascript">
    </script>
    <div class="container">
      <div class="span-24 last"><h3><a href="/">Front</a></h3></div>
      
      <div class="span-24 last">
        <ul>
          {% for name, clients in entries %}
          <li><a href="?file={{name}}&autostart=true">{{name}}</a>
            <ul>
              {% for addr, port, pid in clients %}
              <li>{{addr}}:{{port}}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
        
      </div>
    </div>
  </body>
</html>