Package: erlyvideo
Section: net
Version: 2.2.4
Homepage: http://erlyvideo.org/
Maintainer: Max Lapshin <max@maxidoors.ru>
Architecture: all
Depends: erlyvideo-base (>= 2.2.4), erlang-rtsp (>= 1.7.0), erlang-mpegts (>= 2.4.0)
Description: Base package of erlang video server
 Erlang server, capable to handle RTMP and media. MPEG-TS and RTSP are with erlyvideo package
